body {
  background-color: black;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #333;
  text-align: center;
}

p,
li,
span {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #555;
}

code,
pre {
  font-family: "Fira Code", monospace;
  color: #dcdcdc;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
}

div {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #8db3c0;
}

h2 {
  font-size: 1.5rem;
  color: #333;
}

p {
  font-size: 1rem;
  color: #555;
}
.content {
  background-color: #ceeaea;
}
